* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden; /* Убираем скроллбары */
}

#gameCanvas {
    background: #222;
    position: absolute;
    top: 0;
    left: 0;
}